<%- include('./_partials/head') %>

  <!-- Nav Bar-->
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo center">Divide and Costco</a>
      <ul class="right">
        <% if (user) { %>
          <li>
            <a href="/logout">
              <i class="material-icons left">trending_flat</i>Logout</a>
          </li>
          <% } else { %>
            <li>
              <a href="/auth/google">
                <i class="material-icons left">vpn_key</i>Login with Google</a>
            </li>
            <% } %>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container">
    <h2>WELCOME TO DIVIDE AND COSTCO</h2>
    <% if (user) { %>
    <a href="/users/<%= user.id %>">My List</a>
    <% } %>
  </div>

  <!-- Form for Costco Search -->
  <div class="container">
    <div class="row">
      <form class="col s12" action="/costcos" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">location_on</i>
            <input type "text" name="zipCode" placeholder="Enter a zip code">
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Google Map API -->
  <div class="container">
    <div id="map"></div>
  </div>

  <!-- Form for creating a list -->
  <div class="container">
    <div class="row">
      <form class="col s12" action="/" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">location_on</i>
            <input type "text" name="listProduct" placeholder="Enter a product">
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!-- JavaScript for Google Maps API-->
  <script>
    function initMap() {
      var uluru = { lat: 34.0523, lng: -118.2395 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAP_KEY%>&callback=initMap"></script>

  <%- include('./_partials/footer') %>