<!DOCTYPE html>
<html>
  <head>
    <title>DIVIDE AND COSTCO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WELCOME TO DIVIDE AND COSTCO</h1>


  </body>
</html>
