<%- include('./_partials/head') %>

  <!-- Main Content -->
  <!-- Form for Costco Search -->
  <div class="container">
    <div class="row">
      <form class="col s12" action="/costcos" method="POST">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">location_on</i>
            <input type="text" name="zipCode" pattern="\d{5}" placeholder="Enter a zip code">
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Google Map API -->
  <div class="container">
    <div id="map"></div>
  </div>

  <!-- JavaScript for Google Maps API-->
  <script>
    function initMap() {
      var uluru = { lat: 34.0523, lng: -118.2395 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru, 
        map: map
      });
      var infoWindow = new google.maps.InfoWindow;

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position){
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          map.setCenter(pos);
          var marker = new google.maps.Marker({
            position: pos,
            map: map
          })
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        handleLocationError(false, infoWindow, map.getCenter());
      }
    } 

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ? 'Error: Geoservice failed' : 'Browser not supported');
      infoWindow.open(map);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAP_KEY%>&callback=initMap"></script>

  <%- include('./_partials/footer') %>