<<<<<<< HEAD
<h1>This is the Costco page</h1>
=======
<h1>List of Costcos</h1>

<div class="firstcostco">First Costco</div>
<div class="secondcostco">Second Costco</div>
<div class="thirdcostco">Third Costco</div>

<button>Back to Search</button>
>>>>>>> master
